ul li {
    list-style-type: none;
    margin-bottom: 0px;
    padding: 0px;
    display: block;
    width: 100px;
    
    }

ul>li a {
        top: 0;
        left: 100%;
        list-style-type: none;
        margin-bottom: 0px;
        padding: 10px 20px;
        text-decoration: none;
        color: black;
        border: none;
        background-color: rgba(134, 121, 121, 0.747);
        display: block;
        width: 75 px;
     }
ul>li a:hover {
    color: white;
    }


      
