ul li {
    list-style-type: none;
    margin-bottom: 5px;
    padding: 15px 15px 15px 15px;
    border: none;
    background-color: #000000;
    display: contents;
    width: 100px;
    
    }