h1{
  color:#4D1170;
  text-align: center;
}
.flex-container {
  display: flex;
  background-color: rgb(199, 202, 206);
  margin-bottom: 0%;
  padding: 50px;
  
}


#div {
  @media screen and (min-width: 480px) {
  float: left}
  border-style: inset;
  display: grid;
  grid-template-columns: 1fr;
  border-color: black;
  border-width: 10px;
  background-color: lightgrey;
  width: fit-content;
  padding: 10px;
  margin: 15px;
  text-align: center;
  }


#footer{position: static;
  bottom: 0;
  width: 100%;
    text-align: center;}

p.intro::first-letter {
    font-size: 150%;
    font-weight: bold;
    color: rgb(91, 25, 145);
  }
p + p {
    text-indent: 1%;
  }
.center {
    background-color: lightgrey;
    width: 750px;
    padding: 50px;
    margin: auto;
  }