@font-face{
  font-family: Josefin;
  src: url("../webcontent/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf");
}
blockquote {font-family: Josefin, serif;
    font-size: larger;
}
@media print {
  
  h1{color: #000 !important;
   background-color: transparent !important;}
  .div{display: none !important;}
  .flex-container{display: none !important;}
  .resumevid {display: none !important;}
  img {display: none !important;}
  body{
    font-family: Georgia, serif;
    font-size: 12pt;
    line-height: 15pt;
    background: none;
    color: #000;
  }
  @page {
    margin: 1in;
    color: #000;
    background: transparent;
  }
}
h1{
  color:#4D1170;
  background-color: rgb(199, 202, 206);
  text-align: center;
  margin-bottom: 0%;
  
  
}
.flex-container {
  display: flex;
  background-color: rgb(199, 202, 206);
  margin-bottom: 0px;
  padding: 30px;

    
}
@media only screen and (max-width: 640px) {
  header {
  position: relative;
  height: 40px;
  display: block;
  width: 100%;
  }
  }

@media only screen and (min-width: 641px) {
h1 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.5em;
}

  }
.div {
  display: grid;
  border-style: inset;
  grid-template-columns: 1fr;
  border-color: black;
  border-width: 10px;
  background-color: lightgrey;
  width: fit-content;
  padding: 10px;
  margin: 15px;
  text-align: center;
  }

.homeimg {
  margin-left: 200px;
}

.aboutimg {
  max-width: 50%;
}

.projectimg {
  max-width: 70%;
}

@media screen and (min-width: 641px){
.link-container{display: flex;}}


.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: .75em;
  line-height: 4px;
  margin-top: 100px;
  padding-top: 3px;
  padding-bottom: 3px;

  background-image: url(../webcontent/footerbackground.png);
  
 }
div.transbox {
  margin: 50px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

div.transbox p {
  font-weight: bold;
  color: #000000;
}

p.intro::first-letter {
    font-size: 150%;
    font-weight: bold;
    color: rgb(91, 25, 145);
  }
p + p {
    text-indent: 1%;
  }
.center {
    background-color: lightgrey;
    width: 75%;
    padding: 50px;
    margin: auto;
   }

.icon:hover{transform: scale(2.0);
}

video {
  width: 45%    !important;
  height: auto   !important;
}

table, th, td {
  border:2px solid black;
}

@media screen and (max-width: 640px) {
  .table-response {
      overflow-x: auto;
      width: 320px;
  }
}

thead, tfoot{background-color: #a369c5;}
tbody tr:nth-child(odd){background-color: lightgray}
tbody tr:nth-child(even){background-color: white;}

/* Style inputs with type="text", select elements and textareas */
input[type=text], [type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Style the button */
input[type=submit], [type=reset] {
  background-color: #a369c5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the button, add a darker color */
input[type=button]:hover {
  background-color: rgb(91, 25, 145);
}

/* Add a background color and some padding around the form */
.cform {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}