h1{color:#4D1170;}
#div {
  border-style: inset;
border-color: black;
border-width: 10px;
background-color: lightgrey;
width: 100px;
padding: 15px;
margin: 10px;
text-align: center;
}
p.intro::first-letter {
    font-size: 150%;
    font-weight: bold;
    color: rgb(91, 25, 145);
  }
p + p {
    text-indent: 1%;
  }
.center {
    background-color: lightgrey;
    width: 750px;
    padding: 50px;
    margin: auto;
  }